<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite name">
    <parameter name="environment" value="sit"/>
    <parameter name="browser" value="chrome"/>
    <test name="Test demo">
        <classes>
            <class name="scripts.testset1.NetlifySearchTest"></class>
        </classes>
    </test>

</suite>
